.register__username {
  border: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  background-color: black;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  width: 358px;
  color: #fff;
  padding: 0;
  height: 27px;
}
